@import url(http://fonts.googleapis.com/css?family=Bad+Script);
body {
	margin: 0;
	padding: 0;
	background: #E5E6DD;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	color: #8A8985;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #7D7764;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

p {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #5BA689;
}

a:hover {
}

#wrapper {
	overflow: hidden;
	background: #FFFFFF;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

/*-----------------------------------------------------------Logo---------------------------------------------------------------------------- */

#logo {
	overflow: hidden;
	height: 250px;
}

#logo h1, #logo p {
	text-align: center;
	text-shadow: 0px 1px black;
}

#logo h1 {
	padding: 50px 0px 0px 0px;
	letter-spacing: -6px;
	text-transform: lowercase;
	font-size: 100px;
	color: #FFFFFF;
}

#logo p {
	margin-top: -20px;
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
}

#logo p a {
	color: #696969;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 52px;
	margin-bottom: 2em;
	background: #000000;
	position: fixed;
	width: 100%;
	z-index: 3;
}

#menu {
	overflow: hidden;
	height: 52px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: none;
	font-family: 'Bad Script', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
	background: #FFFFFF;
	text-decoration: none;
	color: #000000;
}

/* -----------------------------------------------------------Index -----------------------------------------------------------*/

/*#banner {
	background-image: url("images/overlay.png"), url("images/banner2.jpg");
	background-position: top left, center, center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	padding: 12em 0 20em 0;
	margin-top: -2%;
	background-attachment: scroll, fixed;
	max-height: 666px;
}*/

#button_transparent {
	/*color: #FFFFFF;
	text-align: center;
	border: 1px solid;*/
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	background: none;
	border: solid 1px;
	box-shadow: 1px 1px black;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: 900; 
	letter-spacing: 2px;
	min-width: 18em;
	max-width: 25%;
	line-height: 3.75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: auto;
	margin-left: auto;
	font: 2.8em;
	margin-top: 2%;
	text-shadow: 0px 1px black;
	/*left: 40%;*/
}

#lien_button_transparent {
	max-width: 25%;
}

#button_transparent:hover {
	background: rgba(188, 202, 206, 0.40);
	border-color: #FFFFFF;
}

.casetransparente{
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	background: none;
	border: solid 1px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-weight: 900;
	letter-spacing: 2px;
	min-width: 18em;
	padding: 0 0.75em;
	line-height: 3.75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: auto;
	margin-left: auto;
	position: relative;	
	left: 39.5%;	
	font: 2.8em;
}
.casetransparente:hover {
	background: rgba(188, 202, 206, 0.15);
	border-color: #FFFFFF;
}
/* -----------------------------------------------------------Footer -----------------------------------------------------------*/

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 20px 0px 0px 0px;
	text-align: center;
}

#footer a {
	text-decoration: underline;
	color: #909090;
}

#footer a:hover {
	text-decoration: none;
	color: #383838;
}

#aide {
	width: 90%;
	margin: 10px auto;
	background-color: #fff;
	line-height: 
}

#titre {
	padding: .5em;
	border-bottom: 1px solid gray;
}

#titre h1 {
	padding: 0;
	margin: 0;
}

#leftnav {
	float: left;
	width: 190px;
	margin: 0.5em;
	padding: 1em;
}

#questions {
	margin-left: 250px;
	padding: 1em;
	max-width: 70em;
}

#aide p, h3 {
	margin-left: 50px;
}

/* -----------------------------------------------------------Affichage trois colonnes -----------------------------------------------------------*/

#three-column {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#three-column .tbox1 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#three-column .tbox2 {
	float: left;
	width: 384px;
}

#three-column .tbox3 {
	float: right;
	width: 386px;
}

.box-style {
	background: #337fbe;
	text-align: center;
}


.box-style h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	color: #000000;
}

.box-style .image {
	width: 100%;
}

.box-style .arrow {
}

.box-style .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
	color: #FFFFFF;
}

.content p {
	height:;
}

.box-style-orange {
	background: #ff2a22;
	text-align: center;
}

.box-style-orange h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	color: #000000;
}

.box-style-orange .image {
	width: 100%;
}

.box-style-orange .arrow {
}

.box-style-orange .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
	color: #FFFFFF;
}


.button {
	display: inline-block;
	margin: 1em 0em;
	background: #000;
	padding: 1em 2em;
	color: #FFFFFF;
}

#logo2 {
margin-bottom: -12px;
}

/* -----------------------------------------------------------Page d'inscription -----------------------------------------------------------*/

.register {
	position: relative;
	top: 70px;
}
.register-left-grid div {
	width: 25%;
	margin: 10px 0;
	padding-left: 20px;
	position: relative;
	left: 20%;
}
.register-right-grid div {
	width: 25%;
	display: block;
	margin: 10px 0;
	padding-left: 20px;
	position: relative;
	bottom: 210px;
	left: 55%;
}
.register-left-grid input[type="text"], .register-right-grid input[type="text"], .register-right-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 20px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: left;
	margin-left: 2px;
	position: relative;
	font-weight: 600;

}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
	position: relative;
	left: 300px;
}

.news-letter:hover {
	color:#FF3700;
}

.submit_button{
	font-family: "Oxygen",sans-serif;
	display: inline-block;
	background: #000;
	width: 10%;
	height: 50px;
	color: #FFFFFF;
	position: relative;
	left: 45%;
	bottom: 100px;
}

.register-title{
	text-align: center;
}

.register_errors{
	text-align: center;
	display: inline-block;
	width: 600px;
	position: relative;
	left: 700px;
}

/* -----------------------------------------------------------Page de connexion -----------------------------------------------------------*/

.login {
    margin: 0 auto;
    padding: 20px;
    width: 310px;
    background: white;
}
.login input[type=text], .login input[type=password] {
    width: 278px;
}
.login h3 {
	text-align: center;
}
.remember_me {
	position: relative;
	left: 48px;
}
#remember_me {
    float: left;
    line-height: 31px;
}
.login_submit_button{
	font-family: "Oxygen",sans-serif;
	display: inline-block;
	background: #000;
	width: 200px;
	height: 50px;
	color: #FFFFFF;
	position: relative;
	left: 30px;
	top: 5px;
}
.login-help {
    margin: 20px 0;
    font-size: 11px;
    text-align: center;
}

.login-help a:hover {
    text-decoration: underline;
}
.login_errors{
	text-align: center;
	display: inline-block;
	width: 600px;
	position: relative;
	left: 700px;
}

/*----------------------------------------------------------- Profil -----------------------------------------------------------*/

#avatar {
	text-align: center;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.avatarChange {
	clear: both;
}

#avatar a {
	text-decoration: none;
	color: #909090;
}

#avatar a:hover {
	text-decoration: none;
	color: #383838;
}

.infosPerso {

	margin-top: 20px;
}

#infosPersoTitre h1 {
	display: inline-block;
	clear: both;
	text-align: center;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
	width: 90%;
}


.profil {
	margin-top: 5%;
}

.colonne_gauche_profil {
	float: left;
	width: 25%;
}

.colonne_droite_profil {
	float: right;
	width:75%;
}

#image_liste_logements {
	width: 100%;
	height: auto;
	border: solid 1px;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	opacity: 1;
	/*float: left;*/
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	text-align: center;

}

#image_liste_logements:hover {
	opacity: 0.85;
}

.liste_logements {
	float: left;
	text-align: center;
	display: inline-block;
}

#image_avatar {
	max-width: 100%;
	height: auto;
	border: solid 1px;
	color: #000000;
	display: inline-block;
	opacity: 1;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: 2%;
}

/* -----------------------------------------------------------Others----------------------------------------------------------- */

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  border: 1px solid;
  border-color: #000000;
  outline: 0;
  display: inline-block;
  margin: 1em 0em;
  background: #000;
  color: #FFFFFF;
}

input[type=submit]:active {
  background: #FFFFFF;
  color: #000000;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;

}

#wrapper2 {
	overflow: hidden;
	background: #000000;
}


/*------------------------------------------------------------- Carousel ------------------------------------------------------------*/

.carousel {
	position: relative;
	margin-bottom: 0;
	padding-top: 1%;
	max-width: 100%;
	overflow: hidden;
}

.carousel .forward,
.carousel .backward {
	position: absolute;
	top: 50%;
	width: 6em;
	height: 12em;
	margin-top: -6em;
	cursor: pointer;
}
		
.carousel .forward {
	right: 0;
}
		
.carousel .backward {
	left: 0;
}

.carousel .forward:before,
.carousel .backward:before {
	content: '';
	display: block;
	width: 6em;
	height: 6em;
	border-radius: 100%;
	background-color: rgba(72,57,73, 0.5);				
	position: absolute;
	top: 50%;
	margin-top: -3em;
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
	-webkit-backface-visibility: hidden;
}

.carousel .forward:after,
.carousel .backward:after {
	content: '';
	width: 3em;
	height: 3em;
	position: absolute;
	top: 50%;
	margin: -1.5em 0 0 0;
	background: url('images/arrow.svg') no-repeat center center;
}

.carousel .forward:after {
	right: -0.25em;
}

.carousel .backward:after {
	left: -0.25em;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}
			
.carousel .forward:before {
	right: -3em;
}
			
.carousel .backward:before {
	left: -3em;
}

.carousel .forward:hover:before,
.carousel .backward:hover:before {
	background-color: rgba(255,255,255, 0.75);
}

.carousel .reel {
	white-space: nowrap;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
	
.carousel article {
	display: inline-block;
	white-space: normal;
	opacity: 1.0;
	-moz-transition: opacity 0.75s ease-in-out;			
	-webkit-transition: opacity 0.75s ease-in-out;			
	-o-transition: opacity 0.75s ease-in-out;			
	-ms-transition: opacity 0.75s ease-in-out;			
	transition: opacity 0.75s ease-in-out;			
}
		
.carousel article.loading {
	opacity: 1;
}	

#imgcarousel {
	max-width: 100%;
}

#titre_carousel {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-bottom: 1px solid;
	border-top: 1px solid;
	width: 90%;
	margin-top: 2%;
	padding: 3px 0px;
}	





#liste_logements {
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}





#upload_avatar {
	margin-top: 5%;
}




#masquer {
}

#ccmarche_image {
	margin-left: 32%;
}

#logements {
	margin-top: 5%;
}



#photo-logement img {
	width: 100%;
	height: auto;
	position:absolute;

}
#photo-logement {
	z-index: 1;
}

#titreannonce {
	position:absolute;
	top:35%;
	width:100%;
	text-align: center;
	padding: 50px 0px 0px 0px;
	letter-spacing: -6px;
	text-transform: lowercase;
	font-size: 100px;
	color: #FFFFFF;
	text-shadow: 0px 1px black;

}

#descriptifannonce {
	position: absolute;
	top: 60%;
	margin-top: -20px;
 	left: 25%;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	text-shadow: 0px 1px black;
	text-align: center;
	width:50%;
}



#description_logement {
	top:100%;
	text-align: ;

}

#wrapper3 {
	overflow: hidden;
	background: none repeat scroll 0% 0% #FFF;
}





.arrowdown {
  position: absolute;
  top:80%;
  left: 47%;
  margin-left:-20px;
  max-width:6%;

}



#user_list {
	margin-top: 4%;

}
#user_list h2 {
	text-align: center;
}


.house-register-right-grid img {
	width: 2%;
	height: 2%;
}
