#banner {
	background-image: url("../images/overlay.png"), url("../images/banner7.jpg");
	background-position: top left, center, center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	padding: 12em 0 20em 0;
	margin-top: -2%;
	background-attachment: scroll, fixed;
	max-height: 666px;
}